<div class="profile-wrapper">
  <div class="profile-container">
    <div class="row">
      <h1>プロフィール</h1>
      <div class="left-main-container">
        <div class="profile-image">
          
        </div>
      </div>
      <div class="right-main-container">
        <div class="profile-name">
          
        </div>
        <div class="profile-profile">
          
        </div>
      </div>
    </div>
  </div>
</div>