<div class="profile-wrapper">
  <div class="profile-container">
    <div class="row">
      <h1>プロフィール</h1>
      <div class="left-main-container">
        <div class="empty-profile-image">
          <%= image_tag 'Kyoto.jpg', class: "profile-image" %>
          <p>プロフィール画像がありません</p>
        </div>
      </div>
      <div class="right-main-container">
        <div class="profile-name">
          <p class="name-title">名前</p>
          <%= current_user.name %>
        </div>
        <div class="empty-profile">
          <p>プロフィールがありません</p>
          <%= link_to "プロフィールを作成する", profile_edit_path(user) %>
        </div>
      </div>
    </div>
  </div>
</div>