<div class="user-top-wapper">
  <div class="user-top-container">
    <div class="top-title">
      <h1>FREE WALKING TOUR</h1>
      <h2>IN JAPAN</h2>
      <h1>ENJOY TOURS WITH THE LOCALS</h1>
    </div>
  </div>
  <div class="user-middle-container">
    <div class="col-md-4 prfile-wapper">
      <p>プロフィール</p>
    </div>
    <div class="col-md-offset-4 col-md-6 your-activity">
      <p>予定表</p>
      <div class="your-plan">
        
      </div>
      <div class="your-joined-tour">
        
      </div>
    </div>
  </div>
</div>