<div class="about-wrapper">
  <div class="about-container container">
    <div class="explanation-title">
      <h3>Free Walking Tourとは</h3>
      <div class="explanation-detail">
        <p>旅先で、のんびりと歩きながら地元のボランティアガイドさんが、その土地の歴史や魅力などを紹介するツアー。</p>
        <p>決められたツアー料金はなく、ツアーの最後に満足度に応じて直接ボランティアガイドさんへチップを渡します。</p>
        <p>途中参加、途中退場OK。用事がある方、満足できなかった方など、ツアー途中でも抜けることができます。</p>
        <p>※その際はボランティアガイドさんへチップを渡すのを忘れずに！</p>
      </div>
    </div>
    <div class="explanation-title">
      <h3>ボランティアガイドとは</h3> 
      <div class="explanation-detail">
        <p>この町の文化や歴史をぜひ知ってほしい！紹介したい！という地元のボランティアの方々です。</p>
        <p>地元で人気の美味しいお店や、絶景スポットなど、地元の人しか知らない場所も教えてくれるかもしれません。</p>
      </div>
    </div>
    <div class="explanation-title">
      <h3>チップって、いくら渡せばいいのかわからない！という方へ</h3>
      <p>ボランティアガイドさんへの感謝の気持ちとして、必ず300円～/人は渡しましょう。</p>
      <p>もちろん、上限はありません。楽しい満足なツアーでしたら、その分感謝の意味を込めて多く渡しましょう！</p>
    </div>
  </div>
</div>
