.user-list {
  list-style: none;
  line-height: 30px
}

.user-list-name{
  margin-right:20px;
}

.user-list {
  padding: 0.5em 1em;
  margin: 3px 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.user-list-delete {
  
  font-size:10px;
  display:block;
  float: right;
  width: 45px;
  line-height: 20px;
  text-align:center;
  border:2px solid;
  border-color:#aaaaaa;
  background:#cccccc;
}