//PCファースト min 1200px
//全ページ共通
body {
  margin: 0px 20%;
}

.container {
  width: auto;
}



//ナビゲーション
header {
  background-color: white;
  .navbar-brand {
    color: #CC0000;
    letter-spacing: -1px;
  }
  .nav-item {
     text-decoration: none;
     padding: 0 15px;
  }
  .navbar-toggler {
    background-color: #99CCFF;
  }
}



//ログイン前のHomeページ
.top-title {
  padding-top: 60px;
  color: white;
  h1, h2 {
    text-shadow: 0 0 3px #f00,0 0 3px #f00,
                 0 0 3px #f00,0 0 3px #f00,
                 0 0 3px #f00,0 0 3px #f00,
                 0 0 3px #f00,0 0 3px #f00,
  }
}

.btn-pink {
  color: #993300;
  background-color: #FFBEDA;
  border: 1px solid #993300;
}



.container {
  padding-top: 40px;
}


//ログイン後のshowページ
.user-top-container {
  background-image: image_url('Kyoto.jpg');
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  margin-bottom: 30px;
  text-align: center;
}

.prfile-wapper {
  margin-left: 15px;
  float: left;
  width: 100%;
  
  .side-image-size {
  width: 100%;
  }
}

.your-plan-container {
  margin-top: 40px;
}

.join-tour-box-list {
  padding: 2px 4px;
  color: #232323;
  background: #fff8e8;
  border: solid 1px #ffc06e;
  border-left: solid 10px #ffc06e;
}

.plan-tour-box-list {
  padding: 2px 4px;
  color: #232323;
  background: #FFEEFF;
  border: solid 1px #FFCCFF;
  border-left: solid 10px #FFCCFF;
}

.tour-box-list-past {
  padding: 2px 4px;
  color: #232323;
  background: #D7EEFF;
  border: solid 1px #BAD3FF;
  border-left: solid 10px #BAD3FF;
  width: 80%;
}


//Adminページ
.user-list {
  list-style: none;
  line-height: 30px
}

.user-list-name{
  margin-right:20px;
}

.user-list {
  padding: 0.5em 1em;
  margin: 3px 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.user-list-delete {
  font-size:10px;
  display:block;
  float: right;
  width: 45px;
  line-height: 20px;
  text-align:center;
  border:2px solid;
  border-color:#aaaaaa;
  background:#cccccc;
}



//プロフィールページ
.image-size {
  width: 120%;
}



//ツアーページ
#map{
  width: 400px;
  height: 250px;
}

.tour-edit-container {
  padding-top: 40px;
}

.slide-image {
  height: 300px;
}

.tour-images-thumbnail {
  width: 30%;
}

.tour-date p {
  margin-bottom: 0px;
}

.index-tour-box-list {
  padding: 2px 4px;
  color: #232323;
  background: #EEFFFF;
  border: solid 1px #6495ED;
  border-left: solid 10px #6495ED;
}

//ツアー問い合わせ
.tour-contact-tour-title {
  font-weight: 700;
}


//フッター
footer {
  padding-top: 50px;
  text-align: center;
  p {
    border-top: 1px solid gray;
    width: 100%;
  }
}



@media screen and (max-width: 1199px) { /* 1190px以下に適用されるCSS（ノートパソコン、タブレット用　bootstrap基準） */
  * {
    box-sizing: border-box;
  }
  
  body {
  margin: 0px 10%;
  }
  
  .container {
  height: 500px;
  padding-top: 20px;
  }
  
  .form-control {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 767px) { /* 767px以下に適用されるCSS（ファブレット、スマホ用） */
  
  * {
    box-sizing: border-box;
  }
  
  body {
  margin: 0 0%;
  }
  
  .container {
  height: 400px;
  padding-top: 10px;
  }

  h3 {
    font-size: 20px;
  }
  
  .btn-block{
    width: 40%;
    margin: auto;
  }
  
  .form-control {
    width: 100%;
    margin: auto;
  }
  
  .side-image-size {
  width: 50% !important;
  }
  
  .image-size {
  width: 50%;
  }
}