
body {
  margin: 0px 15%;
}

.container {
  width: auto;
}

.navbar {
  margin-bottom: 1px !important;
}

.form-control {
  width: 100%;
}
 
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .navbar {
  display: none;
  menu-icon: block;
  }
}