.inquiry-container {
  background-image: image_url('NokogiriMt.jpg');
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
   h3 {
     text-align: center;
   }
 }
 

.form-control {
 width: 250px;
}
