// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-hero-wrapper {
  padding-top: 70px;
  h1, h2 {
    letter-spacing: -2px;
  }
  
}

.top-container {
  background-image: url('Kyoto.jpg');
  //width: 100vw; ない方が均一にセンターに寄る
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.top-title {
  padding-top: 60px;
  color: white;
  h1, h2 {
    text-shadow: 0 0 3px #f00,0 0 3px #f00,
                 0 0 3px #f00,0 0 3px #f00,
                 0 0 3px #f00,0 0 3px #f00,
                 0 0 3px #f00,0 0 3px #f00,
  }
}

.btn-orange {
  color: #fff;
  background-color: #FFBEDA;
  border: 1px solid #FFABCE;
}

.row {
  margin-top: 40px;
}