.login-container {
  background-image: image_url('Atera.jpg');
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
 }
 
.form-control {
  width: 350px;
}
 
h1 {
  color: white;
  text-shadow: 
     2px  2px 1px #330033,
    -2px  2px 1px #330033,
     2px -2px 1px #330033,
    -2px -2px 1px #330033,
     2px  0px 1px #330033,
     0px  2px 1px #330033,
    -2px  0px 1px #330033,
     0px -2px 1px #330033;
}
 
 //反映されていない
.text-white {
  color: white;
}