.user-top-container {
  background-image: image_url('Kyoto.jpg');
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  text-align: center; //ほかのページはこれがなくても、文字がセンター寄り。なんで？
}