// Sign Up ページ

.signup-container {
  background-image: image_url('NokogiriMt.jpg');
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
 }

//ログイン後のshowページ
.user-top-container {
  background-image: image_url('Kyoto.jpg');
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  text-align: center; //ほかのページはこれがなくても、文字がセンター寄り。なんで？
}

.prfile-wapper {
  margin-left: 30px;
  float: left;
  
  .side-image-size {
  width: 180px;
  height: 180px;
  }
}

.col-md-offset-3 {
  margin-left: 0px;
}

.tour-box-list {
  padding: 2px 4px;
    margin: 4px 0;
    color: #232323;
    background: #fff8e8;
    border: solid 1px #ffc06e;
    border-left: solid 10px #ffc06e;
}